{% extends 'products/base.html' %}

{% block content %}
{% load static %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <h3>Артикул: {{ product.article }}</h3>
                {% if product.description %}
                    <h3>Описание :  {{ product.description }}</h3>
                {% endif %}
                <h3>Сезон: {{ product.season }}</h3>
                <h3>
                    Категория: <a href="{% url 'products:category' product.category.id %}">
                    {{ product.category.title }}</a>
                </h3>                            
                <h3>Материал: {{ product.materials.name }}</h3>
                <h3>Цвет: {{ color.name }}</h3>
                <h3>Размер: 
                {% for size in sizes %}
                    {{ size }}
                {% endfor %}
                </h3>
                <h3>Цена: {{ product.price }} тг.</h3>
            </div>
            <div class="col-lg-4 col-md-6">
                {% if product.image %}
                    <img src="{{ product.image.url }}" class="img-fluid mb-2"/>
                {% else %}
                    <img src="{{ '/media/imgs/default.PNG'}}" class="img-fluid mb-2">
                {% endif %}
            </div>
            <div class="col-lg-4 col-md-6" align="center">
                {% if user.is_superuser %}
                Hello, {{ user }}
                <form action="{% url 'products:update_product_image' product.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="image">
                    <button type="submit">Загрузить новое изображение</button>
                </form>
                {% else %}
                Ты не superuser
                тут будет какая то инфа)
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}