{% extends 'products/base.html' %}

{% block content %}
{% load static %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <h3>Артикул: {{ product.article }}</h3>
                <h3>Season: {{ product.season }}</h3>
                <h3>category: {{ product.category }}</h3>
                <h3>subcategory: {{ product.subcategory }}</h3>
                
                {% for material in product.materials.all %}
                    <h3>Material: {{ material.name }}</h3>
                {% endfor %}
                
                {% for color in product.colors.all %}
                    <h3>Color: {{ color.name }}</h3>
                {% endfor %}

                <h3>Size: {{ product.size }}</h3>
                <h3>Price: {{ product.price }} тг.</h3>
            </div>
            <div class="col-lg-4 col-md-6">
                {% if product.image %}
                    <img src="{{ product.image.url }}" class="img-fluid mb-2"/>
                {% else %}
                    <img src="{{ '/media/imgs/default.PNG'}}" class="img-fluid mb-2">
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}